@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (Model.Devices != null)
{
  <h2>Devices</h2>
  <table class="table">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Name
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.Devices)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Id)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Name)
          </td>
        </tr>
      }
    </tbody>
  </table>
}